* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
    "header header"
    "nav nav"
    "section aside"
    "footer footer";
    gap: 20px;
}

body > * {
    font-size: 2.5rem;
    background-color: #807f7f;
    color: white;
    padding: 20px;
    text-align: center;
}

header {
    height: 100px;
    grid-area: header;
}

nav {
    height: 75px;
    grid-area: nav;
}

section {
    grid-area: section;
}

aside {
    width: 400px;
    grid-area: aside;
}

footer {
    height: 100px;
    grid-area: footer;
}